body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 3.5rem;
	font-weight: 300;
}

/* HEADER AND NAVIGATION */

header {
	background-image: url("../images/sky_top.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.top-nav {
	width: 100%;
	background-color: rgba(22, 32, 39, 0.5);
	position: fixed;
	top: 0;
	text-align: right;
	z-index: 999;
}

.top-nav ul {
	list-style-type: none;
	margin: 1.5rem;
}

.top-nav li {
	display: inline;
	margin: 0 0.3rem;
}

.logo {
	position: fixed;
	top: 1.5rem;
	left: 1.5rem;
}

.intro {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.intro i {
	font-size: 4rem;
	position: absolute;
	bottom: 2rem;
	color: #fff;
}

/* Main-content */

main {
	margin: 0;
}

.main-content {
	background-color: #1f313b;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.main-content-flex {
	text-align: center;
	padding: 2rem;
}

.main-content-flex p {
	text-align: left;
}

/* Middle Content */

.middle-content {
	background-color: #243958;
	width: 100%;
	padding: 0 0 2rem 0;
}

.post-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0;
}

.post {
	margin: 2rem 0 0 2rem;
	width: 300px;
	height: 300px;
	background-size: contain;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 0;
	width: 300px;
	height: 50px;
	position: absolute;
	top: 250px;
}

.overlay h4 {
	text-align: center;
}

.post1 {
	background-image: url("../images/blank_page.jpeg");
}

.post2 {
	background-image: url("../images/girl.jpeg");
}

.post3 {
	background-image: url("../images/dog.jpeg");
}

.post4 {
	background-image: url("../images/girl_back.jpeg");
}

.post5 {
	background-image: url("../images/sparks.jpeg");
}

.post6 {
	background-image: url("../images/snow_forest.jpeg");
}

/* Final Content */

.final-content {
	background-color: #583f55;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.final-content-left {
	padding: 2rem;
	width: 60%;
}

.final-content-right {
	padding: 2rem;
	width: 30%;
	text-align: center;
}

.find-out-more {
	background-color: #fff;
	color: #583f55;
	border: 0;
	border-radius: 0.5rem;
	padding: 1rem;
	font-size: 2rem;
}

footer {
	background-image: url("../images/sky_bottom.jpg");
	background-size: cover;
	background-attachment: fixed;

}

.main-footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.footer-flex {
	width: 30%;
}

.footer-right {
	text-align: right;
}

.contact-form {
	text-align: right;
}

.copyright-section {
	text-align: center;
	margin: 0;
	padding: 0.5rem;
}
